html {
    scroll-behavior: smooth;
  }
  
  
  body {
    min-height: 100vh;
    font-family: monospace;
    margin: 0;
    background: rgba(2, 6, 23, 0.9);
  }
  
  /* Scroll progress */
  #scroll-progress {
  position: fixed;
  top: 0; left: 0;
  height: 4px;
  width: 0%;
  background: linear-gradient(90deg,#22d3ee,#06b6d4);
  z-index: 99999;
  }
  
  /* Cursor glow */
  .cursor-glow {
  width: 18px;
  height: 18px;
  position: fixed;
  background: rgb(28, 225, 255);
  border-radius: 50%;
  pointer-events: none;
  filter: blur(8px);
  z-index: 99999;
  }
  
  
  /* Sticky Header */
  .header {
    position: sticky;
    top: 0;
    z-index: 9999;
  
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.3s ease;
  }
  
  button {
    padding: 14px 22px;
    margin: 8px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: aliceblue;
    font-family: monospace;
    font-weight: 600;
    font-size: 15px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .header .menu-section button:hover {
    box-shadow: 0 0 25px aqua;
    background-color: aqua;
    transform: scale(1.1);
  }
  
  .menu-section a.active button {
    box-shadow: 0 0 30px aqua;
    color:white;
    background-color: aqua;
  }
  
  /* hero image */
  .firstpage {
    border: none;
  }
  
  .intro {
    max-width: 100%;
    background:  rgba(2, 6, 23, 0.9);
    margin: 0;
  }
  
  .intro .info {
    animation: fadeUp 1.2s ease forwards;
  }
  
  @keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
  
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  
  .intro .info {
    max-width: 100%;
    height: 600px;
    padding: 15px;
    margin: 0;
    font-family: monospace;
    font-size: larger;
    border: 1px solid black;
    text-align: center;
  }
  
  .firstpage {
    background-color: #000;
    color: aliceblue;
  
  }
  
  div.header {
    max-width: 100%;
  
  }
  
  .header .menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
  }
  
  button {
    background: transparent;
    border: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 20px;
    margin: 15px;
  }
    
  
  .header .menu-section button:hover {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(10, 222, 255);
    transform: scale(1.1);
  
  }
  
  .intro .info #p1 {
    font-size: 30px;
  }
  
  .intro .info h1 {
    font-size: 70px;
    transition: transform 0.4s ease;
    text-shadow: 0 0 25px rgba(34,211,238,.7);
  }
  
  
  .intro .info h1:hover {
    transform: scale(1.1);
  }
  
  .intro .info h3 {
    font-size: 30px;
  }
  
  .intro .info h3:hover{
    transform: scale(1.2);
  }
  
  .intro .info p {
    font-size: 20px;
  }
  .intro .info p:hover{
    transform: scale(1.2);
  }
  .intro .info i {
    font-size: 30px;
    color: #e5e7eb;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .intro .info i:hover {
    transform: translateY(-4px) scale(1.2);
    color: #22d3ee;
    font-weight: bolder;
  }
  
  .secondpage {
    display: flex;
    max-width: 100%;
    min-height: 500px;
    border: 1px solid #020617;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  rgba(2, 6, 23, 0.9);
    padding: 10px;
  }
  .secondpage h2{
    font-size: 30px;
    border: none;
    padding: 10px;
    margin:40px
  }
  .secondpage h2:hover{
    transform: scale(1.4);
    box-shadow: 0 0 25px rgba(34, 211, 238, 0.7);
    border-radius: 10px;
    background-color: aqua;
  
  
  }
  
  .secondpage p {
    font-size: x-large;
    word-spacing: 5px;
    border: 1px solid #2dc5d0;
    padding: 40px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 25px rgba(34, 211, 238, 0.7);
    transform: scale(1.2);
    max-width: 70%;
  }
  .secondpage p:hover{
    max-width: 60%;
  }
  
  
  #about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .skills {
    max-width: 100%;
    min-height: 500px;
    margin: 0px;
  
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    background:  rgba(2, 6, 23, 0.9);
  }
  
  .skills h3{
    font-size: 40px;
  }
  .skills h3:hover{
    transform: scale(1.2);
    box-shadow: 0 0 25px rgba(0, 207, 238, 0.7);
    background-color: aqua;
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
  }
  
  .skills .list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    max-height:auto;
    max-width: 50%;
    padding: 10px;
    margin: 0;
  }
  
  
  .skills button {
    border: 1px solid #22d3ee;
    margin: 10px;
    text-align: center;
    animation: float 4s ease-in-out infinite;
  
  }
  
  .skills button:hover {
    background-color: aqua;
    box-shadow: 0 0 25px aqua;
    
  }
  
  
  @keyframes float {
  
    0%,
    100% {
        transform: translateY(0);
    }
  
    50% {
        transform: translateY(-6px);
    }
  }
  
  .skills h3 {
    font-size: 30px;
  }
  
  #projects{
    margin:0;
    background:  rgba(2, 6, 23, 0.9);
  }
  #projects h2{
    margin: auto;
    font-size: 30px;
  }
  #project-heading{
   max-width: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 10px;
  }
  
  
  
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 400px;
    text-align: center;
  }
  
  .card {
    width: 320px;
    background-color: #020617;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card {
    position: relative;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, transparent, rgba(34, 211, 238, 0.15), transparent);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card:hover::after {
    opacity: 1;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }
  
  .card-content {
    padding: 16px;
    color: #e5e7eb;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .card-desc {
    font-size: 14px;
    color: #9ca3af;
  }
  
  .projects {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
  }
  
  .contact form {
    max-width:70%;
    background: rgba(2, 6, 23, 0.9);
    color: #e5e7eb;
    margin: 0;
  }
  
  
  
  .contact-container {
    color: aliceblue;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    border-radius: 20px;
    padding: 40px;
    background: rgba(2, 6, 23, 0.9);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.7);
  }
  
  
  
  .contact-container.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* LEFT */
  .contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  .contact-info p {
  
    max-width: 420px;
    line-height: 1.7;
    margin-bottom: 35px;
  }
  
  .info-item {
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 22px;
  }
  
  .info-item i {
    font-size: 22px;
    color: aliceblue;
    background: transparent;
    padding: 12px;
    border-radius: 12px;
  }
  
  
  
  .badge {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    background: rgba(34, 197, 94, 0.15);
    border: 1px solid rgba(34, 197, 94, 0.3);
    border-radius: 12px;
    font-weight: 500;
  }
  
  /* RIGHT FORM */
  .form {
    background-color: #000;
    padding: 8px;
    border-radius: 22px;
    box-shadow: 0 0 20px rgba(82, 75, 75, 0.5);
    border: 1px solid #22d3ee;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
  
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .field label {
    margin-bottom: 8px;
    font-size: 0.9rem;
  }
  
  .field input,
  .field textarea {
    background: black;
    border: 1px solid #22d3ee;
    padding: 14px;
    border-radius: 12px;
    color: white;
    font-size: 0.95rem;
    transition: 0.3s;
  }
  
  .field input:focus,
  .field textarea:focus {
    outline: none;
    border-color: #c0e26b;
    box-shadow: 0 0 15px rgba(34, 211, 238, 0.3);
  }
  
  textarea {
    resize: none;
    min-height: 140px;
  }
  
  .submit-btn {
    max-width: 90%;
    padding: 15px;
    background: linear-gradient(135deg, #22d3ee, #06b6d4);
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(34, 211, 238, 0.4);
    margin:auto;
  }
  
  .submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 40px rgba(34, 211, 238, 0.7);
  }
  
  /* RESPONSIVE */
  @media (max-width: 480px) {
    .contact-container {
        flex-direction: column;
    }
  
    .form-row {
        flex-direction: column;
    }
  }
  
  
  
  .footer {
    padding: 20px;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .footer a {
    text-decoration: none;
    font-size: large;
    color: aliceblue;
  }
  
  #mywork {
    border: 1px solid #06b6d4;
    border-radius: 50Px;
    cursor: pointer;
  }
  
  #mywork:hover {
    box-shadow: 0 0 40px rgba(34, 211, 238, 0.7);
    background-color: aqua;
  }
  
  #touch {
    border: 1px solid #06b6d4;
    border-radius: 50Px;
    cursor: pointer;
  }
  
  #touch:hover {
    box-shadow: 0 0 40px rgba(34, 211, 238, 0.7);
    background-color: aqua;
  
  }
  
  @media (max-width: 768px) {
  
    .intro .info h1 {
        font-size: 42px;
    }
  
    .intro .info h3 {
        font-size: 22px;
    }
  
    .secondpage,
    .skills {
        max-width: 90%;
    }
  
    .menu-section {
        gap: 10px;
    }
  }
  
  #resume{
    border: none;
    border-radius: 12px;
  }
  
  
  /* Arrow Container */
  .scroll-container {
    position: fixed;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  
  /* Arrow Design */
  .scroll-arrow {
    width: 26px;
    height: 26px;
    border-left: 3px solid #00ffff;
    border-bottom: 3px solid #00ffff;
    transform: rotate(-45deg);
    cursor: pointer;
  
    filter: drop-shadow(0 0 10px #00ffff);
    transition: transform 0.2s ease;
  }
  
  /* Hover Glow Boost */
  .scroll-arrow:hover {
    filter: drop-shadow(0 0 20px #00ffff);
  }
  
  